<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>94</string>
					<key>EndingLineNumber</key>
					<string>332</string>
					<key>StartingColumnNumber</key>
					<string>11</string>
					<key>StartingLineNumber</key>
					<string>332</string>
					<key>Timestamp</key>
					<string>790071033.528347</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FDLocalizeder/Manager/FDDataManager.m</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string> NSString *content = [NSString stringWithFormat:@"%@ = \"%@\";\n",code, value];</string>
				<key>leading</key>
				<string>        }
        else if (code.length &amp;&amp; value.length) {
           </string>
				<key>trailing</key>
				<string>
            NSLog(@"content: %@", content);
            [msting appendString:content];
</string>
			</dict>
			<key>title</key>
			<string>每一行code生成</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
